body, html { /*esto para que coja el % del padre*/
    height: 100%;
}

#img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(fall-autumn-red-season.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#p1, #p2, #p3 {
    position: absolute;
    height: 33%;
    width: 100%;
}

#p1 {
    background-color: aqua;
}

#p2 {
    background-color: aquamarine;
}

#p3 {
    background-color: azure;
}