@import url(reset.css);


/*-Dimensiones generales-*/

.wrapper {
    width: 1850px;
    height: 3000px;
    margin: 0 auto;
}

header, section {
    height: 850px;
}

/*------------------*/


/*-Posicionamiento-*/

header, section {
    position: relative;
}

header div, header nav {
    position: absolute;
}

section * {
    position: absolute;
}

/*-----------------*/


/*-Header-*/

header .logo {
    width: 380px;
    height: 290px;
    top: 60px;
    left: 80px;
}

header nav {
    width: 690px;
    height: 50px;
    top: 115px;
    left: 985px;
}

header nav .listanav {
    list-style-type: none;
}

header nav .listanav li {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px; 
    text-align: center; 
    margin-left: 66px;
}

header nav .listanav li:first-child {
    margin-left: 0px;
}

header nav .listanav li:hover {
    background-image: url(sprite.png);
}

header .lema {
    width: 660px;
    height: 417px;
    top: 372px;
    left: 600px;
}

/*-------------*/


/*-Primera seccion-*/

.sectionInicio1 p {
    width: 364px;
    height: 675px;
    top: 81px;
    left: 550px;
}

.sectionInicio1 div {
    width: 448px;
    height: 675px;
    top: 81px;
    left: 950px;
}

/*----------------------*/


/*-Segunda seccion-*/

.inicio2Contenido {
    width: 670px;
    height: 753px;
    top: 44px;
    left: 622px;
}

.inicio2Contenido #pIzda {
    width: 320px;
    height: 415px;
    left: 10px;
}

.inicio2Contenido #pDcha {
    width: 320px;
    height: 400px;
    bottom: 0px;
    right: 10px;
}

.inicio2Contenido #organic {
    width: 320px;
    height: 340px;
    top: 0px;
    right: 10px;
}

.inicio2Contenido #natural {
    width: 320px;
    height: 325px;
    bottom: 0px;
    left: 10px;
}

/*----------------------*/


/*-Footer-*/

footer {
    position: relative;
    height: 500px;
}

footer * {
    position: absolute;
}

footer #footerP1 {
    width: 320px;
    height: 200px;
    top: 146px;
    left: 302px;
}

footer #footerP2 {
    width: 376px;
    height: 210px;
    top: 146px;
    left: 781px;
}

footer .social {
    width: 305px;
    height: 105px;
    top: 190px;
    left: 1267px;
}

footer #copyright {
    width: 525px;
    height: 20px;
    top: 450px;
    left: 708px;
}

footer #facebook {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 35px;
}

footer #twitter {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 95px;
}

footer #instagram {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 155px;
}

footer #pinterest {
    width: 50px;
    height: 50px;
    top: 40px;
    left: 215px;
}

footer {
    background-color: chocolate;
}

footer #footerP1 {
    background-color: aqua;
}

footer #footerP2 {
    background-color: aqua;
}

footer .social {
    background-color: aqua;
}

footer .social div {
    background-color: red;
}

footer #copyright {
    background-color: aqua;
}
/*----------------------*/


/*-Colores para pruebas-*/

    .wrapper {
        background-color: aqua;
    }

    header {
        background-color: cadetblue;
    }

    header .logo {
        background-color: antiquewhite;
    }

    header nav {
        background-color: aliceblue;
    }

    header nav .listanav li {
        background-color: brown;
    }

    header .lema {
        background-color: azure;
    }

    .sectionInicio1 {
        background-color: darkcyan;
    }

    .sectionInicio1 p {
        background-color: bisque;
    }

    .sectionInicio1 div {
        background-color: aliceblue;
    }

    .sectionInicio2 {
        background-color: dodgerblue;
    }

    .inicio2Contenido {
        background-color: azure;
    }

    .inicio2Contenido #pIzda {
        background-color: dimgray;
    }

    .inicio2Contenido #pDcha {
        background-color: dimgray;
    }
    
    .inicio2Contenido #organic {
        background-color: red;
    }

    .inicio2Contenido #natural {
        background-color: red;
    } 
    

/*-----------------------*/