.wrapper{
    margin: 0 auto;
    width: 300px;
    height: auto;
}

button {
    margin-top: 200px;
    width: 100px;
    height: 25px;
    margin-left: 125px;
}

button::before {
    content: "";
    
    
    width: 15px;
    height: 15px;
    background-color:blue;
    position: relative;
    display: block;  
    background: url(circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
  /*  content: "";
    font-size: 24pt;
    text-align: center;
    line-height: 42px;
    color: #ffff;
    background: #ddd;
    float: left;
    position: relative;
    right: 25px;
    border-radius: 35px;
   
    background: url(left-quote-mark.png) 5px 5px #ddd;
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    height: 35px;*/

}