/* CSS */

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    background-image: url(pattern.jpg);
    color: #443526;
    font-family: 'PT Sans', serif;
}

.wrapper {
    min-width: 320px; /*resultado iphone3 mediaquery vertical*/
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block; /*esto es por si el navegador no es del todo compatible con html5 para que a las etiquetas semanticas las ponga en bloque*/
}

/* Text */
h1, h2, h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 300%;
}

.intro {
    margin-bottom: 1.5em;
    font-size: 125%;
    line-height: 1.5;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    font-family: 'Emilys Candy';
    font-size: 1.6em;
    color: #ff00a7;
    text-shadow: 1px 1px 1px grey;
}

.list-nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Emilys Candy';
    font-weight: normal;
    font-size: 1.4rem;
}

.list-nav li a {
    text-decoration: none;
    
    display: block;
    padding: 10px;
    border-radius: 5px;
    
}

.list-nav li:first-child a {
    background-color: red;
    color: aquamarine;
}

.list-nav li:nth-child(2) a {
    background-color: #c400ff;
    color: #ffff00;
}

.list-nav li:nth-child(3) a {
    background-color: #fff500;
    color: #0000ff;
}

.list-nav li:last-child a {
    background-color: #0093ff;
    color: #0014ff;
}

/*Form builder*/

.builder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



.component h2 {
    position: relative;
    margin: 0 0 .5em 0;
    padding: 10px 0 0 0;
}

/*
.component h2::before {
    content: '';
    display: block;
    position: absolute;
    
    left: 107px;
    width: 30px;
    height: 30px;
    margin-left: -20px;
    background-image: url(cookies.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
*/

#marshmallow h2::before {
    left: 60px;
}

#candy h2::before {
    
}

#accessories h2::before {
    left: 70px; 
}

.builder ul li {
    list-style-type: none;
}

.component {
    flex: 1 1 200px;
    
    display: flex; /*es hijo de flex y a su vez lo convertimos en contenedor flex*/
    flex-direction: column;
    
    
    
    
    margin: 20px 10px;
    padding: 20px;
    background: hsla(0,0%,100%,.3);
}

.component ul { /*Los li cogen un sangrado automaticamente*/
    margin: 0;
    padding: 0; /*esto pal sangrado*/
    flex: 1; 
    display: flex;
    flex-direction: column;
/*    justify-content: space-around;*/
/*    align-items: center;*/
    
}

.component ul li:last-child {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.component li {
    margin-bottom: 0.5em; /*espacio entre las lineas*/
}

.component li:last-child label {
    margin-right: 10px;
}

.component .other-name {
    flex: 1;
    
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.action {
    flex: 1 1 100%;
    
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    
    margin: 0 0 0 20px;
    text-align: center;
}

.flexbox .action label {
    margin-right: 10px;
}

.action label {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 112.5%;
    text-transform: uppercase;
}

.action input {
    flex: 1;
    
    display: block;
    
    width: 100%;
    
    box-sizing: border-box;
}


.action button {
    flex: 1 1 100%;
    
    margin-top: 10px;
    
    background-color: crimson;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    color: white;
    font-weight: 800;
    border: none;
}


.gallery {
    display: flex;
    
    flex-wrap: wrap;
    
    justify-content: space-between;
    
    text-align: center;
}


.gallery-item {
    flex: 1 0 200px;
    
    margin: 0 0 10px 10px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid hsl(30,28%,20%);
    background: hsl(30,28%,20%);
    color: hsl(30,28%,90%);
}

.gallery-item:hover {
    background: hsl(30,28%,20%);
    color: #f5a83e;
    cursor: pointer;
}

.gallery-item h3 {
    margin: 0 0 .5em 0;
}

.gallery-item ul {
    margin: 0;
    padding: 5;
    list-style: square;
    text-align: left;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 20px 10px 40px 10px;
    padding: 0;
    list-style: none;
}

.pagination li {
    order: 2; /*los hijos de un contenedor flexbox tienen la propiedad order, para cambiar el orden de los elementos con el css*/
}

.pagination a {
    display: inline-block;
    
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid hsla(0,0%,100%,.3);
}















